In [1]:
import pandas

questions = pandas.read_csv("./questions.csv", encoding="ISO-8859-1")
tags = pandas.read_csv("./tags.csv", encoding="ISO-8859-1")

/var/folders/12/w52clglx3zj_1g_jxn68t0br0000gq/T/ipykernel_86108/2767087774.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas

In [2]:
tags

               Id        Tag
0             469     python
1             469        osx
2             469      fonts
3             469  photoshop
4             502     python
...           ...        ...
1885073  40143338     python
1885074  40143365     python
1885075  40143365      numpy
1885076  40143365     theano
1885077  40143365       nnet

[1885078 rows x 2 columns]

In [3]:
questions

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...
...,...,...,...,...,...,...
607277,40143190,333403.0,2016-10-19T23:36:01Z,1,How to execute multiline python code from a ba...,<p>I need to extend a shell script (bash). As ...
607278,40143228,6662462.0,2016-10-19T23:40:00Z,0,How to get google reCaptcha image source using...,<p>I understood that reCaptcha loads a new fra...
607279,40143267,4064680.0,2016-10-19T23:44:07Z,0,Updating an ManyToMany field with Django rest,<p>I'm trying to set up this API so I can use ...
607280,40143338,7044980.0,2016-10-19T23:52:27Z,2,Most possible pairs,"<p>Given a list of values, and information on ..."
607281,40143365,4133131.0,2016-10-19T23:55:49Z,0,Theano operations returning odd results,<p>So I'm trying to learn how to use Theano an...

In [7]:
questions['Title'][1]

'Get a preview JPEG of a PDF on Windows?'

In [8]:
questions['Body'][1]

'<p>I have a cross-platform (Python) application which needs to generate a JPEG preview of the first page of a PDF.</p>\n\n<p>On the Mac I am spawning <a href="http://developer.apple.com/documentation/Darwin/Reference/ManPages/man1/sips.1.html">sips</a>.  Is there something similarly simple I can do on Windows?</p>\n'

In [12]:
tags[tags['Id']==469]

    Id        Tag
0  469     python
1  469        osx
2  469      fonts
3  469  photoshop

In [19]:
questions['Title'][607278]

'How to get google reCaptcha image source using Selenium Webdrive?'

In [20]:
questions['Body'][607278]

'<p>I understood that reCaptcha loads a new frame document into \npages iframe. \nTo fetch captcha\'s source image I need to switch frames in selenium webdriver, and iterate the loaded frame for image src.</p>\n\n<p>This is the iframe i want to switch to - </p>\n\n<blockquote>\n  \n</blockquote>\n\n<p>However, google uses random name attribute for each frame, and switching frame by xpath throws "an unable to locate element" error.</p>\n\n<p><code>browser.switch_to_frame(browser.find_elements_by_xpath(\'/html/body/div[2]/div[4]/iframe\'))</code> </p>\n\n<p>Using </p>\n\n<pre><code>&gt; driver.switch_to_frame(driver.find_elements_by_tag_name("iframe")[0])\n</code></pre>\n\n<p>Fails to locate iframe. </p>\n\n<p><strong>Bottom line, How to switch to another frame using Selenium webdriver?</strong></p>\n'

In [22]:
tags[tags['Id']==40143228]

               Id                 Tag
1885068  40143228              python
1885069  40143228  selenium-webdriver